<div class="background"></div>
<div class="navbar">
  <button mat-button class="go-back">
    <img src="assets/arrow-left.png" />
  </button>
  <button mat-button class="go-back">
    <img src="assets/content-save.png" />
  </button>
  <button mat-button class="go-back">
    <img src="assets/content-save-edit.png" />
  </button>
</div>
<div class="body">
  <mat-card class="note">
    <mat-card-content>
      <mat-card-title>
        <mat-form-field class="title">
          <textarea
            matInput
            type="text"
            placeholder="Title"
            rows="1"
          ></textarea>
        </mat-form-field>
      </mat-card-title>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-form-field class="content">
        <textarea matInput cdkTextareaAutosize placeholder="Content"></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
