<div id="flexbox">
  <div id="flex_text">
    <p>Tired of lost and unorganized notes?</p>
    <p>We can help you get rid of this!</p>
    <p>Start using Note.me today!</p>
    <!-- <div id="flex_text_buttons">
      <button [color]="'yellow'" mat-raised-button>Sign in</button>
      <button [color]="'yellow'" mat-raised-button>Sign up</button>
    </div> -->
  </div>
  <div class="placeholder"></div>
  <div id="form">
    <app-registration></app-registration>
  </div>
  <!-- <div id="container">
    <div id="note">
      <div id="text">
        Start using<br />Note.me today!
        <br />
        <button [color]="'yellow'" mat-flat-button>Sign in</button>
        <button [color]="'yellow'" mat-flat-button>Sign up</button>
      </div>
    </div>
  </div> -->
</div>
