<div>
  <div class="background"></div>
  <div class="navbar dark_theme">
    <div class="navbar__placeholder"></div>
    <form class="form">
      <mat-form-field
        color="primary"
        class="form__field"
        [floatLabel]="'never'"
      >
        <input matInput type="text" placeholder="search" class="form__input" />
      </mat-form-field>
    </form>
    <div class="navbar__buttons">
      <button
        class="new-note"
        mat-flat-button
        color="accent"
        [routerLink]="['/editor']"
      >
        Add new note
      </button>
      <div class="navbar__buttons-placeholder"></div>
      <button class="logout" color="primary" mat-button (click)="logout()">
        <img src="assets/logout.png" />
      </button>
    </div>
  </div>

  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="200"
    class="body"
    [class.body--no-notes]="notes.length === 0"
    (scrolled)="onScroll()"
  >
    <div *ngIf="notes.length === 0" class="text">You have no notes</div>
    <div *ngIf="notes.length !== 0" class="grid">
      <mat-card *ngFor="let note of notes" class="note" matRipple>
        <mat-card-header>
          <mat-card-title>{{ note.title }}</mat-card-title>
        </mat-card-header>
        <mat-divider class="note__divider"></mat-divider>
        <mat-card-content>{{ note.content }}</mat-card-content>
      </mat-card>
    </div>
    <button mat-fab class="float-button" [routerLink]="['/editor']">+</button>
  </div>
</div>
