@import "../../styles.scss";

.view {
  height: 100%;
  width: 100%;
}

.background {
  background: #e9e9e9;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.navbar {
  width: 100%;
  height: 50px;
  background: $primary;
  box-shadow: 0 0 10px 0 black;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  z-index: 2;
  position: fixed;
}

.navbar__placeholder {
  width: 0;
  display: none;
}

.form {
  width: 90%;
  @media #{$notebook} {
    width: 60%;
    margin-left: 10vw;
  }
  @media #{$desktop} {
    width: 60%;
    margin-left: 10vw;
  }
}

.form__field {
  width: 100%;
  color: white;
}

.navbar__buttons {
  display: flex;
  flex-direction: row;
}

.navbar__buttons-placeholder {
  width: 20px;
}

.logout {
  color: white;
  width: min-content !important;
  padding: 3px;
  padding-right: 4px;
  padding-left: 4px;
  min-width: 0;
  font-size: 20px;
}

.new-note {
  display: none;
  @media #{$notebook} {
    display: block;
  }
  @media #{$desktop} {
    display: block;
  }
}

.body {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  overflow-y: scroll;
  padding-top: 50px;
}

.body--no-notes {
  justify-content: space-around;
  flex-direction: column;
}

.text {
  padding: 15px;
  color: darkgray;
  font-size: 40px;
  border: 5px dashed darkgray;
  border-radius: 10%;
  height: 200px;
  width: 200px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 47vw);
  column-gap: 6px;
  row-gap: 10px;
  justify-content: center;
  width: 100vw;
  height: max-content;
  padding-top: 10px;
  padding-bottom: 20px;
  padding: 10px 6px 20px 6px;
  @media screen and (min-width: 460px) {
    grid-template-columns: repeat(auto-fit, 32vw);
  }
  @media screen and (min-width: 700px) {
    grid-template-columns: repeat(auto-fit, 216px);
  }
}

.note {
  color: black !important;
  background: white !important;
  width: 47vw;
  height: 47vw;
  box-sizing: border-box;
  box-shadow: 0 3px 2px 0 gray;
  flex-basis: content;
  @media screen and (min-width: 460px) {
    width: 32vw;
    height: 32vw;
  }
  @media screen and (min-width: 700px) {
    max-width: 216px;
    max-height: 216px;
  }
}

.note__divider {
  color: lightgray;
  background: lightgray;
}

.float-button {
  font-size: 40px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  @media #{$notebook} {
    display: none;
  }
  @media #{$desktop} {
    display: none;
  }
}
